.div-one{
    height:300px;
    width:400px;
    background-color:yellowgreen;
    margin:20px;
    margin-left:300px;

}
#mainImage{
    width:600px;
    
}
.small_image{
    width:100px;
    height: 100px;
    margin:10px;
    border:1px solid red;
    
}
